<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" routerLink="/navbar3">MyApp</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="contact">Contact</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="register">Register</a></li>
    </ul>
  </div>
</nav>

<!-- ROUTES DISPLAY HERE -->
<router-outlet></router-outlet>
