<nav class="navbar" style="background-color: #e3f2fd;" data-bs-theme="light">
  <div class="container">
    <div class="nav-item">
        <button class="btn btn-info" routerLink="home">Home</button>
    </div>
    <div class="nav-item">
        <button class="btn btn-dark" routerLink="register">Register</button>
    </div>
    <div class="nav-item">
        <button class="btn btn-success" routerLink="login">login</button>
    </div>
    <div class="nav-item">
        <button class="btn btn-primary" routerLink="about">About</button>
    </div>
    <div class="nav-item">
        <button class="btn btn-danger" routerLink="contacts">contacts</button>
    </div>
    </div>