<h1 align="center">Welcome to About Component in Navbar1 module</h1>
<marquee scrollamount="25"><h4>The Appllication is developed using Angular-16, C# web Api</h4></marquee><br><br>
<div align="center">
<h1>Key Features</h1><br>
<ul>
    <h6>User Registration: Quickly create an account with your email and password.</h6><br>
    <h6>Login Authentication: Securely access your account using JWT token-based login.</h6><br>
    <h6>Data Validation: Real-time feedback for input errors like missing or incorrect fields.</h6><br>
    <h6>Responsive Design: Optimized for desktop and mobile devices.</h6><br>
    <h6>Modular Structure: Built using Angular modules to promote code reusability and maintainability.</h6><br>
</ul>
</div>